body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {
  margin: 3px 0 3px;
}
a.page-scroll {  
  color: #026969 !important;
}
.imgwi {
  width: 150px;
  height: auto;
  margin: -20px;
}
.img-responsive {
  width: 100vh;
}
.footer-social {
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
  border: 1px solid #02caca;
  line-height: 3;
}
.footer-social:hover {
  color: antiquewhite;
}
#footer {
  background: black;
}
.footer-title {
  color: #fff;
}